<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
  width: 80%;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
</head>
<body>
    {{>empNav}}


    

  
   <table>
  <tr>
    <th>Ticket</th>
    <th>UserName</th>
    <th>Payment</th>
    <th>Payement Status</th>
  </tr>
  {{#each bookings}}
  <tr>
    <td>{{tickets}}</td>
    <td>{{userName}}</td>
    <td>{{payment}}</td>
    <td>{{status}}</td>
  </tr>
{{/each}}
</table>


  
</div>
</body>
</html>